<div class='posts_page'>
  <div class='individual_large_post'>
    <h3><%= @post.title %> Written by: <%= @user.name %></h3>
    <p class='number_of_posts'> Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
    <p class='whole_post'><%= @post.text %></p>
    
    <%= link_to new_user_post_comment_path(@post, user_id: @user.id), class: 'btn' do %>
      <button class='btn'>Add a comment</button>
    <% end %>
    
    <%= link_to new_user_post_like_path(@post, user_id: @user.id), class: "btn" do %>
      <button class='btn'>Add a like</button>
    <% end %>
    
    <% if user_signed_in? && current_user == @post.author %>
      <%= link_to edit_user_post_path(@post), class: 'btn' do %>
        <button class='btn'>Edit Post</button>
      <% end %>
      
      <%= link_to user_post_path(@user, @post), data: {turbo_method: :delete}, class: "btn" do %>
        <button class='btn'>Delete Post</button>
      <% end %>
    <% end %>
  </div>

  <h3>Comments:</h3>
  <% @post.comments.each do |comment| %>
    <div class='comments_div'>
      <p><%= comment.text %></p>
      <p>Written by: <%= comment.author.name %></p>
      <%
=begin%>
 edit comment is missing a link to path views / comments/ edit  
<%
=end%>
      <% if user_signed_in? && current_user%>
     <button class='btn'>Edit Comment</button>
     <%
=begin%>
 this link also is set up but it does not actually delete the comment  
<%
=end%>
      <%= link_to user_post_comment_path(@post, user_id: @user.id, post_id: @post.id), data: {turbo_method: :delete}, class: "btn" do %>
        <button class='btn'>Delete Comment</button>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
