<div class='posts_page'>
  <div class='individual_large_post'>
    <h3><%= @post.title %> Written by: <%= @user.name %></h3>
    <p class='number_of_posts'> Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
    <p class='whole_post'><%= @post.text %></p>
    
    <%= link_to new_user_post_comment_path(@post, user_id: @user.id), class: 'btn' do %>
      <button class='btn'>Add a comment</button>
    <% end %>
    
    <%= link_to new_user_post_like_path(@post, user_id: @user.id), class: "btn" do %>
      <button class='btn'>Add a like</button>
    <% end %>
    
     <% if can? :update, @post %>
      <%= link_to edit_user_post_path(@post), class: 'btn' do %>
        <button class='btn'>Edit Post</button>
      <% end %>
    <% end %>

    <% if can? :destroy, @post %>
      <%= link_to user_post_path(@user, @post), data: {turbo_method: :delete}, class: "btn" do %>
        <button class='btn'>Delete Post</button>
      <% end %>
    <% end %>
  </div>

  <h3>Comments:</h3>
  <% @post.comments.each do |comment| %>
    <div class='comments_div'>
      <p><%= comment.text %></p>
      <p>Written by: <%= comment.author.name %></p>
      <%= link_to user_post_comment_path(@user, @post, comment), data: {turbo_method: :delete}, class: "btn" do %>
        <button class='btn'>Delete Comment</button>
      <% end %>
    </div>
  <% end %>
</div>
