<div class = 'posts_page'>
<div class= 'individual_post'>
<h2>Post #<%= @post.id %></h2>
<h3><%= @post.title %></h3>
<p class='number_of_posts'> Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
<p class = 'whole_post'><%= @post.text %></p>
</div>
<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
<div class=comments_div>
  <p><%= comment.text %></p>
  <p>Written by: <%= comment.author.name %></p>
  </div>
<% end %>
</div>
